<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestingSwagger">
  <test thread-count="1" name="Test">
    <classes>
      <class name="tests.SwaggerTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
<!--TestingSumo GitHub Repo API Automation-->